[submodule "GL_Core/vendor/glfw"]
	path = GL_Core/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "GL_Core/vendor/glad"]
	path = GL_Core/vendor/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "GL_Core/vendor/glm"]
	path = GL_Core/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "GL_Core/vendor/imgui/imgui"]
	path = GL_Core/vendor/imgui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
